<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chemical Visualizer</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Chemical Visualizer</h1>
<p>Search for chemicals by CID</p>
<p>Example: 962 and 5234</p>

<!-- <button class="btn btn-lg btn-primary btn-block" type="button">Run Script</button> -->

<input id="search" /><input id="searchbutton" value="Search"  type="button"/>
<div id="results"></div>
<div id="results-molecular-formula"></div>
<div id="results-iupac-name"></div>

<input id="search_b" /><input id="searchbutton_b" value="Search"  type="button"/>
<div id="results_b"></div>
<div id="results-molecular-formula_b"></div>
<div id="results-iupac-name_b"></div>

<input id="mixbutton" value="Mix" type="button"/>
<div id="mixresults"></div>


</body>
</html>
